@model ScheduleViewModel

<!DOCTYPE html>

<div class="panel panel-default col-md-8 col-md-offset-2 top-buffer">
    <div class="panel-heading">
        <h2>Create Class</h2>
    </div>
    <div class="panel-body col-md-4 top-buffer">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Schedule.ID)
            <div class="form-group">
                @Html.Label("Class Name")
                @Html.DropDownListFor(x=>x.Schedule.ClassID, Model.Classes , "--Please Select--", new {@class = "form-control"})                
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Schedule.Date)
                @Html.TextBoxFor(x => x.Schedule.Date, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Schedule.StartTime)
                @Html.TextBoxFor(x => x.Schedule.StartTime, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Schedule.EndTime)
                @Html.TextBoxFor(x => x.Schedule.EndTime, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Schedule.Capacity)
                @Html.TextBoxFor(x => x.Schedule.Capacity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.Schedule.Status, Html.GetEnumSelectList<Status>(), "Please select")                
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>

    <div class="panel-body col-md-4 top-buffer">
        <table class="table table-striped">
            @if (Model.Schedule.Registration.Count() == 0)
            {
                <tr><td colspan="3">No one has registered for this schedule yet</td></tr>
            }
            else
            {
                <tr><th>First Name</th><th>Last Name</th><th>Status</th><th>Wait Number</th></tr>

                foreach (var registration in Model.Schedule.Registration)
                {
                    <tr>
                        <td>@registration.AppUser.FirstName</td>
                        <td>@registration.AppUser.LastName</td>
                        <td>@registration.Status</td>
                        @if (registration.Status != RegisrtationStatus.Waiting)
                        {
                            <td>Not Applicable</td>
                        }
                        <td>@registration.WaitNumber</td>
                        <td>
                            <a id="cancelRegistration" data-toggle="modal" asp-action="CancelRegistration" asp-controller="Registration" asp-route-id="@registration.RegistrationID" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Cancel
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>
        @Html.ActionLink("Create", "AddEditSchedule", null, new { @class = "btn btn-primary" })

    </div>

</div>
@section Scripts{ 
<script>

    $(document).ready(function () {
        $('.datepicker').datepicker(); //Initialise any date pickers
    });

</script>
}
