@using FitnessCenter.Domain.Entities
@model IEnumerable<FitnessClass>

    <!DOCTYPE html>
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <div class="panel panel-default col-md-8 col-md-offset-2 top-buffer">
        <div class="panel-heading">
            <h2>Classes</h2>
        </div>

        <div class="panel-body col-md-4 top-buffer">
            <table class="table table-striped">
                @if (Model.Count() == 0)
            {
                    <tr><td colspan="3">No Roles Available, Please click create button to create new role</td></tr>
                }
                else
                {
                    <tr><th>ID</th><th>Nme</th><th>Instructor</th></tr>

                    foreach (var Class in Model)
                    {
                    <tr>
                        <td>@Class.ID</td>
                        <td>@Class.Name</td>
                        <td>@Class.Instructor</td>
                        <td>
                            <a id="editClass" data-toggle="modal" asp-action="EditClass" asp-route-id="@Class.ID" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteClass" data-toggle="modal" asp-action="DeleteUser" asp-route-id="@Class.ID"  class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                    }
                }
            </table>
            @Html.ActionLink("Create", "AddEditClass", null, new { @class = "btn btn-primary" })

        </div>
    </div>

